
.base-dialog {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  max-height: 80vh;
  background: white;
  position: relative;
  .close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
  }
  .header {
    padding-bottom: 50px;
  }
}