/* You can add global styles to this file, and also import other style files */
body {
  color: black;
  text-decoration: none; /* no underline */
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  &:hover {
    color: blue;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
